@model IEnumerable<iwish.Models.Driver>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color: lightseagreen">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverMobile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverMobile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DriverID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DriverID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DriverID })
        </td>
    </tr>
}

</table>
