@model IEnumerable<iwish.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color: lightseagreen">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.DriverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inspector.InspectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.DriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inspector.InspectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalNo })
        </td>
    </tr>
}

</table>
